@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #fbf0e2;
}

.dark {
  --background-color: #1a202c;
}
html {
  background-color: var(--background-color);
  transition:
    background-color 200ms ease-in-out,
    color 200ms ease-in-out;
}

button {
  /* transition:
    background-color 250ms ease-in-out,
    color 250ms ease-in-out; */
}
progress {
  -webkit-appearance: none;
  /* width: 100%;
  height: 12px;
  grid-column: 1 / -1; */
}

::-webkit-progress-bar {
  /* background-color: #f1f3f5; */
  background-color: #fff;
  border-radius: 100px;
}
::-webkit-progress-value {
  background-color: #fea805;
  border-radius: 100px;
}

/* Loader */
/* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
.loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
  background:
    var(--c) 0% 50%,
    var(--c) 50% 50%,
    var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  20% {
    background-position:
      0% 0%,
      50% 50%,
      100% 50%;
  }
  40% {
    background-position:
      0% 100%,
      50% 0%,
      100% 50%;
  }
  60% {
    background-position:
      0% 50%,
      50% 100%,
      100% 0%;
  }
  80% {
    background-position:
      0% 50%,
      50% 50%,
      100% 100%;
  }
}
